@media screen and (min-width: 882px) {
  .popup__form-container_small {
    width: 430px;
    height: 180px;
  }
}

@media screen and (max-width: 881px) {
  .popup__form-container_small {
    width: 240px;
    height: 140px;
  }
}
