.popup__save-button {
  margin: 0px;
  padding: 14px 0px 14px;
  width: 358px;
  border: 0px;
  border-radius: 2px;
  background-color: #000000;
  color: #ffffff;
  font-family: inherit;
  cursor: pointer;
}

.popup__save-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 882px) {
  .popup__save-button {
    width: 358px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 881px) {
  .popup__save-button {
    width: 200px;
    font-size: 14px;
    line-height: 17px;
  }
}
