@media screen and (min-width: 882px) {
  .popup__form-container_large {
    width: 430px;
    height: 330px;
  }
}

@media screen and (max-width: 881px) {
  .popup__form-container_large {
    width: 240px;
    height: 258px;
  }
}
