.profile__user-about {
  font-family: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #FFFFFF;
}

@media screen and (min-width: 882px) {
  .profile__user-about {
    margin: 0px;
    max-width: 318px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 881px) {
  .profile__user-about {
    margin: auto;
    max-width: 280px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
